h2, button {
  font-family: Arvo, serif;
}

#container {
  background-color: #8EA9B2;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
#quote_box {
  text-align: center;
  height: 85vh;
  max-height: 600px;
  background-color: white;
  width: 70%;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
  border-radius: 4px;
  flex-direction: column;
}

#entry {
  position: relative;
  padding: 8px;
}
.fa-quote-left {
  left: -0.8em;
  top: 0.7em;
  position: absolute;
}
.fa-quote-right {
  right: -0.8em;
  top: 0.7em;
  position: absolute;
}
#quote_button {
  padding: 10px;
  background-color: #475E65;
  color: #FFF;
}
#quote_button:hover {
  opacity: .8;
  cursor: pointer;
  font-weight: 900;

}
#quote {
  flex-basis: 5em;
}
#twitter_icon {
  color: #8EA9B2;
  margin-top: 10px;
}

@media screen and (min-width: 480px) {
  #quote_box {
    height: 50vh;
    justify-content: center;
  }
}
